/*Important*/
body
{
  background-color: #ebebeb;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
}

.hidden
{
  display: none;
}

h1,h2,h3,h4,h5,h6,label
{
  font-family: 'Nunito', sans-serif!important;
}

p,span,li,a,textarea,input
{
  font-family: 'Source Sans Pro', sans-serif;
}

p
{
  color: #333;
}

a
{
  text-decoration: none;
}

object,img
{
  max-width: 100%;
}

object
{
  pointer-events: none;
}

.containers
{
  position: relative;
  padding:0%;
  margin: 0;
  width: 100%;
  display: block;
  text-align: center;
  float: none;
  clear: both;
}

/*Container - padding*/

#container
{
  padding-bottom: 77.2px;
}

/*Container - padding*/

/*Header Nav*/
header
{
  display: block;
  width: 100%;
  position: relative;
}

header object, header img
{
 float: left;
  margin: 5px 0 0px 5px;
}
 
.clearfix:after {
    display:block;
    clear:both;
}
 
/*----- Menu Outline -----*/
.menu-wrap {
    width:100%;
}
 
.menu {
    width: 50%;
    margin:0px auto;
  text-align: center;
}
 
.menu li {
    margin:0px;
    list-style:none;
  width: 33.3333333333%;
}

.menu li:last-child
{
  border: none;
}
 
.menu a {
    transition:all linear 0.15s;
    color:#aa1111;
  width: 100%;
  padding: 15px 0;
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#ebebeb;
}
 
.menu .arrow {
    font-size:12px;
    line-height:0%;
}
 
/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
}
 
.menu > ul > li > a {
  display: inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#aa1111;
}
 
/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width:150%;
    padding:0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#280e0e;
}
 
.sub-menu li {
    display:block;
    font-size:16px;
  width: 33.333333333333%;
  float: left;
}

.me li
{
  width: 50%;
}
 
.sub-menu li a {
    padding:10px 0;
    display:block;
  color: white;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background:#ebebeb;
  color: #280e0e;
}

.menu .active
{
 border-bottom: thin solid #aa1111;
}

/*Header Nav*/

/*FOOTER*/

footer
{
  position: absolute;
  width: 98%;
  bottom: 0;
  left: 0;
  z-index: 0;
  text-align: center;
  font-weight: bold;
  background-color: #aa1111;
  padding: 1%;
}

#copyText
{
  color: #ebebeb;
  font-size: 1.2em;
  float: right;
  line-height: 25px;
  text-align: right;
}

.socialBox
{
  float: left;
}

.social
{
  background-image: url('../images/footer/sprite.svg');
  background-repeat: no-repeat;
}

.facebook{background-position: 0px 0px;}
.facebook:hover{background-position: 0 -50px;}

.linked{background-position: -50px 0;}
.linked:hover{background-position: -50px -50px;}

.skype{background-position: -100px 0;}
.skype:hover{background-position: -100px -50px;}

.socialBox li
{
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 10px!important;
}

.socialBox li:last-child
{
  margin: 0;
}

/*FOOTER*/

/*HOME*/

#intro
{
  width: 98%;
  margin: 0px auto;
  background-color: #aa1111;
  padding:40px 1%;
  overflow: hidden;
}

#intro h3
{
  color: #ebebeb;
  font-size: 1.6em;
}

.left
{
  float: left;
}

.right
{
  float: right;
}

.relative
{
  position: relative;
  height: 100vh;
  background-color: #280e0e;
}

#openingSpeech
{
  position: absolute;
  top:0;
  left: 15%;
  width: 70%;
  height: 100%;
  display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
}

#openingSpeech p
{
  color: #ebebeb;
  line-height: 50px;
  font-size: 2em;
}

#openingSpeech a
{
  color: #aa1111;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  border-bottom: thin solid rgba(0,0,0,0); 
}

#openingSpeech a:hover
{
  border-bottom: 3px solid #aa1111;
}

/*HOME*/

/*WEBSITES*/

#websites
{
  background-color: #280e0e;
}

.websites
{
  display: inline-block;
  margin:30px;
  width: 40%;
  background-color: rgba(255,255,255,.9);
}

.websites a
{
  position: relative;
  display: block;
  overflow: hidden;
  border: 2px solid rgba(255,255,255,0);
}

.websites p
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(170,17,17,.9);
  font-size: 2.4em;
  line-height: 50px;
  color: #ebebeb;
  padding-top: 100px;
  opacity: 0;
  -webkit-opacity:0;
  -o-opacity:0;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
}

.websites a:hover
{
  border-color: #ebebeb;
}

.websites:hover.websites p
{
  opacity: 1;
  -webkit-opacity: 1;
  -o-opacity: 1;
}

/*WEBSITE*/

/*WEBSITE DETAILS*/

#siteDetails
{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #280e0e;
  display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
}

.detailsHolder
{
 width: 76%;
  display: block;
  margin: 20px auto;
  padding: 10px;
  background-color: #ebebeb;
  border-radius: 10px;
  position: relative;
}

.clickOn h3
{
  float: left;
  color: #280e0e;
  font-size: 2em;
  text-shadow: -4px 4px 2px rgba(0,0,0,.2);
  -webkit-text-shadow: -4px 4px 2px rgba(0,0,0,.2);
  -o-text-shadow: -4px 4px 2px rgba(0,0,0,.2);
}

.clickOn span
{
  position: absolute;
  bottom: 2px;
  right: 0;
}

.clickOn
{
  width: 100%!important;
  clear: both;
  display: block;
  position: relative;
  overflow: hidden;
}

.detailsHolder p
{
  line-height: 50px;
  font-size: 1.3em;
  margin-bottom: 30px;
  padding: 0 20px;
}

.workLink
{
  margin: auto;
  display: block;
  width: -moz-max-content;
}

.backDetails
{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10%;
  background-color: #280e0e;
  color: #ebebeb;
  font-size: 1.2em;
  padding: 10px 0;
  border-radius: 10px 0 0 0;
}

.backDetails:hover
{
  background-color: #aa1111;
  border-radius: 10px 0 10px 0;
}

/*WEBSITE DETAILS*/

/*DESIGNS*/

#designs
{
  background-color: #280e0e;
}

.designs
{
  display: inline-block;
  margin:30px;
  width: 35%;
}

.designs a
{
  position: relative;
  overflow: hidden;
  border: 2px solid rgba(255,255,255,0);
  display: block;
}

.designs p
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(170,17,17,.9);
  font-size: 2.4em;
  line-height: 50px;
  color: #ebebeb;
  padding-top: 140px;
  opacity: 0;
  -webkit-opacity:0;
  -o-opacity:0;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
}

.designs a:hover
{
  border-color: #ebebeb;
}

.designs:hover.designs p
{
  opacity: 1;
  -webkit-opacity: 1;
  -o-opacity: 1;
}

#designDetails
{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #280e0e;
  display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
}

/*DESIGNS*/

/*CONTACT*/

#contact
{
  overflow: hidden;
  background-color: #280e0e;
  min-height: 100vh;
  display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
  align-self: center;
}

#form
{
  position: relative;
  display: block;
  width: 60%;
  margin: auto;
  background-color: #ebebeb;
  padding-top: 15px;
  border-radius: 10px;
  overflow: hidden;
}

#form h3
{
  font-size: 1.5em;
  color: #280e0e;
}

#form fieldset input
{
  background-color: #ebebeb;
  color: #280e0e;
  font-size: 1em;
}

#form fieldset input:focus
{
  box-shadow: inset 0 0 2px rgba(0,0,0,.5);
}

#form fieldset
{
  display: inline-block;
  width: 40%;
  margin: 10px 15px;
}

#form fieldset label
{
  width: 100%;
  float: left;
  background-color: #aa1111;
  padding: 10px 0;
  color: #ebebeb;
  border-radius: 0 0 10px 10px;
}

#form fieldset input
{
  width: 100%;
  border: none;
  padding: 0;
  text-align: center;
  padding: 10px 0;
  border-radius: 10px 10px 0 0;
}

#form textarea
{
  resize: none;
  width: 98%;
  padding: 1%;
  border: 0;
  font-size: 1.2em;
  line-height: 30px;
  text-align: center;
  box-shadow: inset 0 0 5px rgba(0,0,0,.5);
  margin: 10px 0 0 0;
}

#jobsHolder
{
  padding: 10px 0;
}

#jobsHolder h3
{
  display: inline-block;
  width: 210px;
  font-size: 1em;
  margin: 0 10px;
}

.jobs {
  display: inline-block;
  margin: 0 10px;
	width: 210px;
	height: 30px;
	background-color: #ebebeb;
	margin-top: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
}

.jobs label {
	cursor: pointer;
	position: absolute;
	width: 204px;
	height: 21px;
	border-radius: 5px;
	left: 3px;
	top: 3px;
  background-color: white;
  color: #280e0e;
  z-index: 10;
  padding-top: 3px;
}

.jobs label:after {
	opacity: 0;
	content: '';
	position: absolute;
	background: transparent;
	top: 0px;
	left: 0px;
  background-color: #aa1111;
	border-radius: 5px;
	height: 24px;
	width: 100%;
}

.jobs label:hover::after {
	opacity: 0.3;
}

.jobs input[type=radio]:checked + label:after {
	opacity: 1;
}

#formSubmit
{
  border: none;
  background-color: #aa1111;
  color: #ebebeb;
  width: 100%;
  padding: 10px 0;
  font-size: 1.1em;
  cursor: pointer;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
}

#formSubmit:hover
{
  background-color: #280e0e;
}

#resumeHolder
{
  background-color: #280e0e;
  border-top: 2px solid #ebebeb;
  padding: 1%;
  width: 98%;
  text-align: center;
}

#resumeHolder p
{
  color: #ebebeb;
  font-size: 1.5em;
  padding-bottom: 10px;
}

.resumeLink
{
  color: #ebebeb;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
}

.resumeLink:hover
{
  color: #280e0e;
  text-shadow: 0 1px 0px rgba(170,17,17,.5), -1px 0 0 rgba(170,17,17,.5), 1px 0 0 rgba(170,17,17,.5), 0 -1px 0 rgba(170,17,17,.5);
}

#thankYouSec
{
  min-height: 100vh;
  display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
  align-content: center;
  width: 100%;
  background-color: #280e0e;
  color: #ebebeb;
  text-align: center;
  font-size: 2em;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#thankYouSec div
{
  width: 90%;
  margin: auto;
  line-height: 80px;
}

#thankYouSec p
{
  color: #ebebeb;
}

#thankYouSec a
{
  display: block;
  color: #280e0e;
  font-size: 1.2em;
  text-shadow: 0 1px 0px rgba(170,17,17,.5), -1px 0 0 rgba(170,17,17,.5), 1px 0 0 rgba(170,17,17,.5), 0 -1px 0 rgba(170,17,17,.5);
}

/*CONTACT*/

/*BIOGRAPHY*/

#biography
{
  background-color: #280e0e;
}

#developer
{
  overflow: hidden;
  width: 70%;
  background-color: #ebebeb;
  margin: auto;
  position: relative;
	display: flex;
  border-radius: 0 0 10px 10px;
}

#developer img
{
  box-shadow: 10px 0 5px -5px rgba(0,0,0,.5);  
}

#developer p
{
  align-self: center;
  width: 65%;
  margin-left: 3%;
  line-height: 30px;
  font-size: 1.25em;
  text-align: left;
}

#biography h3
{
  color: #280e0e;
  font-size: 2em;
  text-align: left;
  padding-left: 10px;
  text-shadow: -4px 4px 2px rgba(0,0,0,.2);
  -webkit-text-shadow: -4px 4px 2px rgba(0,0,0,.2);
  -o-text-shadow: -4px 4px 2px rgba(0,0,0,.2);
}

#responsive, #skills, #tools
{
  margin: 10px auto;
  padding: 10px 0;
  width: 70%;
  background-color: #ebebeb;
  border-radius: 10px 10px 10px 10px;
}

#skills li
{
  display: inline-block;
  width: 25%;
  margin: 10px 0
}

#tools li
{
  display: inline-block;
  width: 30%;
  margin: 10px 0;
}

#fresh
{
  width: 70%;
  background-color: #ebebeb;
  margin: auto;
  border-radius: 10px 10px 0 0;
  padding: 10px 0;
}

#fresh p
{
  font-size: 1.5em;
}

/*BIOGRAPHY*/

/*CANVAS*/

#canvasHolder
{
  width: 100%;
  padding: 0;
  overflow: hidden;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  position: relative;
}

#canvasHolder h3
{
  
}

#myCanvas
{
  border: 4px solid #280e0e;
  clear: both;
  background-color: white;
}

#buttonsHolder
{
  background-color: #280e0e;
  overflow: hidden;
  width: 100%;
  display: block;
}

#buttonsHolder p
{
  
}

#easelText
{
  background-color: #aa1111;
  width: 100%;
  padding: 20px;
  display: block;
  color: #ebebeb;
  font-size: 1.2em;
}

.button
{
  width: 25%;
  height: 100px;
  display: block;
  float: left;
  margin: 0;
  cursor: pointer;
  padding: 10px 0;
}

.button:hover
{
  background-color: #aa1111;
}

.size p,.colour p
{
  color: #ebebeb;
  font-size: 1.2em;
  width: 100%;
  background-color: #aa1111;
  clear: both;
  padding: 10px 0;
}

.size ul
{
  display: flex;
  height: 65px;
  align-items: center;
  width: 100%;
}

.size ul li
{
  background-color: #ebebeb;
  border-radius: 50%;
  align-self: center;
  margin: 0 auto;
  cursor: pointer;
}

.size ul li:first-child
{
  margin: 0;
}

.size ul li:hover
{
  background-color: #aa1111;
}

.Size1
{
  width: 4px;
  height: 4x;
}

.Size2
{
  width: 8px;
  height: 8px;
}

.Size3
{
  width: 12px;
  height: 12px;
}

.Size4
{
  width: 16px;
  height: 16px;
}

.Size5
{
  width: 20px;
  height: 20px;
}

.Size6
{
  width: 24px;
  height: 24px;
}

.Size7
{
  width: 28px;
  height: 28px;
}

.Size8
{
  width: 32px;
  height: 32px;
}

.Size9
{
  width: 36px;
  height: 36px;
}

.Size10
{
  width: 40px;
  height: 40px;
}

.size:hover
{
  
}

.colour:hover
{
  
}

.eraser,.export,#nuke,.brush
{
  background-repeat: no-repeat;
  background-position: center;
}

.eraser
{
  background-image: url("../images/paint/eraser.svg");
}

.eraser:hover
{
  background-image: url("../images/paint/eraserHover.svg");
}

.export
{
  background-image: url("../images/paint/export.svg");
}

.export:hover
{
  background-image: url("../images/paint/exportHover.svg");
}

#nuke
{
  background-image: url("../images/paint/clear.svg");
}

#nuke:hover
{
  background-image: url("../images/paint/clearHover.svg");
}

.brush
{
  background-image: url("../images/paint/paint.svg");
}

.brush:hover
{
  background-image: url("../images/paint/paintHover.svg");
}

.colour, .size
{
  width: 50%;
  float: left;
}

.colour ul li
{
  width: 10%;
  height: 65px;
  display: block;
  float: left;
  cursor: pointer;
}

.purple {background-color: #9C27B0;}
.blue {background-color: #03A9F4;}
.green {background-color: #4CAF50;}
.gold {background-color: #FFC107;}
.orange {background-color: #FF5722;}
.pink {background-color:#E91E63;}
.red {background-color:#a81e22;}
.grey {background-color:#607D8B;}
.darkGrey {background-color:#333333;}
.black {background-color:#000000;}

/*CANVAS*/

/*Important*/