<section class="containers">
	<h1 class="hidden">Home</h1>
	<div id="intro">
		<h3>Michel Beaubien - A little about myself...</h3>
		<p>Hello, Bonjour. My name is Michel Beaubien. I have come a very long way since high school. Over the years, I have matured, I have grown. Everyday is a new and exciting challenge, another bump to get over. Knowledge is everything in this industry, I want to learn more, I need to learn more. My passion is in Web Coding/Designing. Hire me. You will not be disappointed. I am a bilingual Canadian. Small town guy, nothing fun ever happened, had to make your own fun. That meant a lot of days spent by the beach. Enough was enough, it was time for a change. I packed up and moved to London. That fall I started my first year of Interactive Media Design and Production at Fanshawe.</p>
		<p>Change is good. Change is needed.</p>
	</div>

	<div id="latest">
		<h3>Time Line</h3>
		<ul>
	<li data-ng-repeat="latest in latests" ng-model="latest.Set" ng-class="latest-{{latest.Set}}">
		<p>{{latest.Name}}</p>
		<p>{{latest.Year}}</p>
		<a ng-href="{{latest.Url}}" target="onblank">
			<div>
				<object data="{{latest.SVG}}">
					<img data-ng-src="{{latest.PNG}}" alt="{{latest.Name}}"/>
				</object>
			</div>
		</a>
	</li>
		</ul>
	</div>
</section>