<section class="containers" id="home">
	<h2 class="hidden">Home</h2>
	<div id="intro">
		<h3 class="left">Yeah, I've Got Skill...</h3>
		<h3 class="right">...Are You Going To Hire Me For It?</h3>
	</div>

	<section class="relative">
		<h2 class="hidden">Michel Beaubien Opening Speech</h2>
		<div id="openingSpeech">
			<p>My name is Michel Beaubien. I love to code! I'm a Front End Developer based out of London, Ontario. I'm continuously pushing myself to be a better developer by producing cleaner, more efficient code. I have many websites to view, along with design pieces. Take a look, and don't forget to send me a <a href="#/contact">SHOUT OUT!</a></p>
		</div>
	</section>

	<!--
	<div id="latest">
		<h3>Time Line</h3>
	<div class="latests" data-ng-repeat="latest in latests">
		<a ng-href="{{latest.Url}}" target="onblank">
			<div>
				<object data="{{latest.SVG}}">
					<img data-ng-src="{{latest.PNG}}" alt="{{latest.Name}}"/>
				</object>
			</div>
			<p>{{latest.Name}}<br>{{latest.Year}}</p>
		</a>
	</div>
	</div>-->
</section>